<div class="container">
    <div class="checkout__form">
        <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-lg-7 col-md-6">
                    <div formGroupName="customer">
                        <h4>Customers</h4>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>First Name<span>*</span></p>
                                    <input formControlName="firstName" type="text">
                                    <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)"
                                        class="alert alert-danger mt-2">
                                        <div *ngIf="firstName.errors.required || firstName.errors.notOnlyWhitespace">
                                            First Name is required
                                        </div>
                                        <div *ngIf="firstName.errors.minlength">
                                            First Name must be at least 2 characters long
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Last Name<span>*</span></p>
                                    <input formControlName="lastName" type="text">
                                    <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)"
                                        class="alert alert-danger mt-2">
                                        <div *ngIf="lastName.errors.required || lastName.errors.notOnlyWhitespace">
                                            Last Name is required
                                        </div>
                                        <div *ngIf="lastName.errors.minlength">
                                            Last Name must be at least 2 characters long
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Email<span>*</span></p>
                                    <input formControlName="email" type="email">
                                    <div *ngIf="email.invalid && (email.dirty || email.touched)"
                                        class="alert alert-danger mt-2">
                                        <div *ngIf="email.errors.required">
                                            Email is required
                                        </div>
                                        <div *ngIf="email.errors.pattern">
                                            Email must be valid format
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Phone<span>*</span></p>
                                    <input formControlName="phone" type="text">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div formGroupName="shippingAddress">
                        <h4>Shipping Address</h4>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="checkout__input">
                                    <p>Country<span>*</span></p>
                                    <select formControlName="country" (change)="getStates('shippingAddress')"
                                        class="form-control" id="selectedCountry">
                                        <option *ngFor="let country of countries" [ngValue]="country">{{ country.name }}
                                        </option>
                                    </select>
                                    <div *ngIf="shippingAddressCountry.invalid && 
                                        (shippingAddressCountry.dirty || shippingAddressCountry.touched)"
                                        class="alert alert-danger mt-2">
                                        <div *ngIf="shippingAddressCountry.errors.required">
                                            Country is required
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="checkout__input">
                                    <p>State<span>*</span></p>
                                    <select formControlName="state" class="form-control" id="selectedState">
                                        <option *ngFor="let state of shippingAddressStates" [ngValue]="state">{{
                                            state.name }}
                                        </option>
                                    </select>
                                    <div *ngIf="shippingAddressState.invalid && 
                                        (shippingAddressState.dirty || shippingAddressState.touched)"
                                        class="alert alert-danger mt-2">
                                        <div *ngIf="shippingAddressState.errors.required">
                                            State is required
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>City<span>*</span></p>
                                    <input formControlName="city" type="text">
                                    <div *ngIf="shippingAddressCity.invalid && 
                                        (shippingAddressCity.dirty || shippingAddressCity.touched)"
                                        class="alert alert-danger mt-2">
                                        <div *ngIf="shippingAddressCity.errors.required || 
                                            shippingAddressCity.errors.notOnlyWhitespace">
                                            City is required
                                        </div>
                                        <div *ngIf="shippingAddressCity.errors.minlength">
                                            City Name must be at least 2 characters long
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Postcode / ZIP<span>*</span></p>
                                    <input formControlName="zipCode" type="text">
                                    <div *ngIf="shippingAddressZipcode.invalid && 
                                        (shippingAddressZipcode.dirty || shippingAddressZipcode.touched)"
                                        class="alert alert-danger mt-2">
                                        <div *ngIf="shippingAddressZipcode.errors.required || 
                                        shippingAddressZipcode.errors.notOnlyWhitespace">
                                            Zip code is required
                                        </div>
                                        <div *ngIf="shippingAddressZipcode.errors.minlength">
                                            Zip code Name must be at least 5 characters long
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="checkout__input">
                            <p>Street<span>*</span></p>
                            <input formControlName="street" type="text">
                            <div *ngIf="shippingAddressStreet.invalid && 
                                (shippingAddressStreet.dirty || shippingAddressStreet.touched)"
                                class="alert alert-danger mt-2">
                                <div *ngIf="shippingAddressStreet.errors.required || 
                                    shippingAddressStreet.errors.notOnlyWhitespace">
                                    Street is required
                                </div>
                                <div *ngIf="shippingAddressStreet.errors.minlength">
                                    Street Name must be at least 2 characters long
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="checkout__input__checkbox">
                        <label>
                            Billing Address same as with Shipping Address?
                            <input type="checkbox" (change)="copyToBillingAddress($event)">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div formGroupName="billingAddress">
                        <h4>Billing Address</h4>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="checkout__input">
                                    <p>Country<span>*</span></p>
                                    <select formControlName="country" (change)="getStates('billingAddress')"
                                        class="form-control" id="selectedCountry">
                                        <option *ngFor="let country of countries" [ngValue]="country">{{ country.name }}
                                        </option>
                                    </select>
                                    <div *ngIf="billingAddressCountry.invalid && 
                                        (billingAddressCountry.dirty || billingAddressCountry.touched)"
                                        class="alert alert-danger mt-2">
                                        <div *ngIf="billingAddressCountry.errors.required">
                                            Country is required
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="checkout__input">
                                    <p>State<span>*</span></p>
                                    <select formControlName="state" class="form-control" id="selectedState">
                                        <option *ngFor="let state of billingAddressStates" [ngValue]="state">{{
                                            state.name }}
                                        </option>
                                    </select>
                                    <div *ngIf="billingAddressState.invalid && 
                                    (billingAddressState.dirty || billingAddressState.touched)"
                                        class="alert alert-danger mt-2">
                                        <div *ngIf="billingAddressState.errors.required">
                                            State is required
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>City<span>*</span></p>
                                    <input formControlName="city" type="text">
                                    <div *ngIf="billingAddressCity.invalid && 
                                        (billingAddressCity.dirty || billingAddressCity.touched)"
                                        class="alert alert-danger mt-2">
                                        <div *ngIf="billingAddressCity.errors.required || 
                                        billingAddressCity.errors.notOnlyWhitespace">
                                            City is required
                                        </div>
                                        <div *ngIf="billingAddressCity.errors.minlength">
                                            City Name must be at least 2 characters long
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Postcode / ZIP<span>*</span></p>
                                    <input formControlName="zipCode" type="text">
                                    <div *ngIf="billingAddressZipcode.invalid && 
                                        (billingAddressZipcode.dirty || billingAddressZipcode.touched)"
                                        class="alert alert-danger mt-2">
                                        <div *ngIf="billingAddressZipcode.errors.required || 
                                        billingAddressZipcode.errors.notOnlyWhitespace">
                                            Zip code is required
                                        </div>
                                        <div *ngIf="billingAddressZipcode.errors.minlength">
                                            Zip code Name must be at least 5 characters long
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="checkout__input">
                            <p>Street<span>*</span></p>
                            <input formControlName="street" type="text">
                            <div *ngIf="billingAddressStreet.invalid && 
                                (billingAddressStreet.dirty || billingAddressStreet.touched)"
                                class="alert alert-danger mt-2">
                                <div *ngIf="billingAddressStreet.errors.required || 
                                    billingAddressStreet.errors.notOnlyWhitespace">
                                    Street is required
                                </div>
                                <div *ngIf="billingAddressStreet.errors.minlength">
                                    Street Name must be at least 2 characters long
                                </div>
                            </div>
                        </div>
                    </div>
                    <div formGroupName="creditCard">
                        <h4>Credit Card</h4>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Card Type<span>*</span></p>
                                    <select formControlName="cardType" class="form-control" id="selectedCountry">
                                        <option>Credit</option>
                                        <option>Debit</option>
                                    </select>
                                    <div *ngIf="cardType.invalid && 
                                        (cardType.dirty || cardType.touched)" class="alert alert-danger mt-2">
                                        <div *ngIf="cardType.errors.required">
                                            Card Type is required
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Name on Card<span>*</span></p>
                                    <input formControlName="nameOnCard" type="text">
                                    <div *ngIf="nameOnCard.invalid && 
                                        (nameOnCard.dirty || nameOnCard.touched)" class="alert alert-danger mt-2">
                                        <div *ngIf="nameOnCard.errors.required || 
                                            nameOnCard.errors.notOnlyWhitespace">
                                            Name on Card is required
                                        </div>
                                        <div *ngIf="nameOnCard.errors.minlength">
                                            Name on Card must be at least 2 characters long
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="checkout__input">
                            <p>Card Number<span>*</span></p>
                            <input formControlName="cardNumber" type="text">
                            <div *ngIf="cardNumber.invalid && 
                                (cardNumber.dirty || cardNumber.touched)" class="alert alert-danger mt-2">
                                <div *ngIf="cardNumber.errors.required || 
                                    cardNumber.errors.notOnlyWhitespace">
                                    Card Number is required
                                </div>
                                <div *ngIf="cardNumber.errors.pattern">
                                    Card Number must be a number and at least 16 digits
                                </div>
                            </div>
                        </div>
                        <div class="checkout__input">
                            <p>Security Code<span>*</span></p>
                            <input formControlName="securityCode" type="password">
                            <div *ngIf="securityCode.invalid && 
                                (securityCode.dirty || securityCode.touched)" class="alert alert-danger mt-2">
                                <div *ngIf="securityCode.errors.required || 
                                    securityCode.errors.notOnlyWhitespace">
                                    Security Code is required
                                </div>
                                <div *ngIf="securityCode.errors.minlength">
                                    Security Code must be at least 3 characters long
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Exp Month<span>*</span></p>
                                    <select formControlName="expirationMonth" class="form-control" id="selectedCountry">
                                        <option *ngFor="let month of creditCardMonths">
                                            {{ month }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Exp Year<span>*</span></p>
                                    <select formControlName="expirationYear" (change)="handleMonthsandYears()"
                                        class="form-control" id="selectedCountry">
                                        <option *ngFor="let year of creditCardYears">
                                            {{ year }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-6">
                    <div class="checkout__order">
                        <h4>Your Order</h4>
                        <div class="checkout__order__products">Shipping <span>FREE</span></div>
                        <div class="checkout__order__subtotal">Total Quantity <span>{{ totalQuantity }}</span></div>
                        <div class="checkout__order__total">Total Price <span>{{ totalPrice | currency: 'USD' }}</span>
                        </div>
                        <button type="submit" class="site-btn">PLACE ORDER</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>